.center {
    left: 50%;
    top: 50%;
    padding: 50px 10px;
    border: 1px solid orange;
    text-align: center;
    width: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
}

.button {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.h1 {
    font-size: 30px;
    color: gray;
}

img {
    border-radius: 50%;
}